<div class="container" *ngIf="collection$ | async as collection">
  <app-paginate (doPageChange)="changePage($event)" [pageSize]="pageSize" [page]="page" [collectionSize]="collection.length"></app-paginate>
  <div *ngFor="let item of collection.slice(startIndex, startIndex + pageSize)">
    <!-- {{item | json}} -->
    <app-item [item]="item"></app-item>
  </div>
  <app-paginate (doPageChange)="changePage($event)" [pageSize]="pageSize" [page]="page" [collectionSize]="collection.length"></app-paginate>
</div>
